@import 'variables';
@import 'functions';


@keyframes color {
    0%   { border-radius: 10px; border-top: 2px solid rgb(255, 242, 169); border-bottom: 2px solid orange;}
    25%  { border-radius: 0px; border-top: 2px solid gold;  border-bottom: 2px solid rgb(212, 109, 12);}
    50%  { border-radius: 10px; border-top: 2px solid orange; border-bottom: 2px solid orange; }
    75%  { border-radius: 0px; border-top: 2px solid rgb(212, 109, 12); border-bottom: 2px solid rgb(212, 109, 12);}
    100% { border-radius: 10px; border-top: 2px solid rgb(255, 242, 169);  border-bottom: 2px solid orange;}
  }

  
@keyframes colorf {
  0%   { border-radius: 10px;}
  25%  { border-radius: 0px; ;}
  50%  { border-radius: 10px;}
  75%  { border-radius: 0px;}
  100% { border-radius: 10px;}
}

  @keyframes color2 {
    0%   { opacity:0.7; }
    25%  { opacity:0.8;}
    50%  {opacity:1; }
    75%  { opacity:0.8;}
    100% {opacity:0.7; }
  }  

  
@keyframes szerokosc
{
  0% { left:0px;top:0px; transform: rotate(0deg);  }
  25%{left:100px;top:-30px; }
  75%{left:-100px;top:10px; }
  100% {  left:0px; top:0px;  transform: rotate(360deg); }
}

@keyframes szerokosc2
{
  0% { left:0px;top:0px; transform: rotate(0deg);  }
  25%{left:-130px;top:40px; }
  75%{left:130px;top:-20px; }
  100% {  left:0px; top:0px;  transform: rotate(360deg); }
}


@keyframes szerokosc3
{
  0% { left:0px;top:0px; transform: rotate(0deg);  }
  25%{left:-250px;top:60px; }
  75%{left:250px;top:-60px; }
  100% {  left:0px; top:0px;  transform: rotate(360deg); }
}

@keyframes size
{
  0% { transform: scale(1);  }
  25%{transform: scale(1.15); }
  75%{transform: scale(1.15); }
  100% {transform: scale(1); }
}