.about{
    background-color:black;
    transition: 1s;
    padding-top:150px;
    padding-bottom:70px;
    @include breakpoint(medium) {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    @include breakpoint(large) {
        padding-top: 180px;
        padding-bottom: 220px;
    }

    &__container{
        max-width: 1100px;
        margin-left: auto;
        margin-right: auto;
    }

    &__border{
        padding-left:15px;
        padding-right:15px;
        @include breakpoint(medium) {
        padding-left:54px;
        padding-right:54px;
        }
    }

    &__head{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width:100%;
        margin-bottom:50px;
        flex-wrap: wrap;
    }
   
    &__number{
        text-align:right;
        width: 2.2%;
    }

    &__tile{
        display: flex;
        justify-content: center;
        text-align: center;
        padding:0px;
        position: relative;
       
        border-radius:0px;
        flex-wrap:wrap;
        @include breakpoint(large) {
            flex-wrap:nowrap;
            padding:20px;
            border-radius: 20px 0px;
            }
    }

    &__text{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width:100%;
        padding:30px;
        @include breakpoint(xmedium) {
        width:50%;
        padding:40px;
        }
     

        p{
            text-align: center;
            font-family: $font-family-two;
            font-size: 16px;
            text-align: left;
            @include breakpoint(xmedium) {
            font-size: 18px;
            }
        }
        h3{
            text-transform: uppercase;
            font-family: $font-family-two;
            margin-bottom:40px;
            font-size: 25px;
            color:white;
        }
    }

    &__img{
        width:400px;
        border-radius: 20px;
        background-position: center;
        background-size:cover;
        background-image:url(https://cdn.pixabay.com/photo/2015/03/26/09/41/tie-690084_960_720.jpg);
        height:430px;
        @include breakpoint(xmedium) {
        width:50%;
        height:470px;
        }
    }
}




#section1,
#section1 .fp-slide,
#section1 .fp-tableCell{
    height: auto !important;
}

#section2,
#section2 .fp-slide,
#section2 .fp-tableCell{
    height: auto !important;
    @include breakpoint(large) {
    height: 100vh !important;   
    }
}

#section3,
#section3 .fp-slide,
#section3 .fp-tableCell{
    height: auto !important;
    @include breakpoint(large) {
    height: 100vh !important;   
    }
}


#section4,
#section4 .fp-slide,
#section4 .fp-tableCell{
    height: auto !important;
    @include breakpoint(large) {
    height: 100vh !important;   
    }
}


#section5,
#section5 .fp-slide,
#section5 .fp-tableCell{
    height: auto !important;
    position: relative;
    padding-bottom:100px;
    
}
#section6,
#section6 .fp-slide,
#section6 .fp-tableCell{
    height: 150px !important;
    position: relative;
    bottom:0px;
    width: 100%;
}
