.contact{
    background-color: black;
    background-size:contain;
    background-position: center;
    position: relative;
    z-index: 1;
    padding-top:60px;
    transition: 2s;
    padding-bottom:900px;
    @include breakpoint(large) {
        padding-bottom:0px;
        padding-top:180px;
    }

    &__border{
        @include breakpoint(medium) {
            padding-left:54px;
            padding-right:54px;
        }
    }

    &__paddle{
        width:12%;
    }
    
    &__box{
        display:flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        border-bottom: 1px solid black;
        @include breakpoint(large) {
        flex-direction: row;
        padding-bottom:50px;
        }
    }

    &__col-1{
        border-right:none;
        width:100%;
        background-color:white;
        @include breakpoint(medium) {
            margin-bottom: 50px;
            }
        @include breakpoint(large) {
        width:50%;  
        margin-bottom: 0px;
        border:1px solid gold;  
        }
      
    }

    &__head{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width:100%;
        margin-bottom:40px;
    }

    &__number{
        text-align: center;
        width:100%;
        position: relative;
        bottom: 60px;
    }

    &__title{
       // font-size:25px;
        @include breakpoint(large) {

        }    
    }

    &__col-2{
     
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding:40px;
        width:100%;
        background-color:black;
        text-align: left;
        padding-top:60px;
        @include breakpoint(large) {
        width:50%;  
        border:1px solid white;
        padding-top:40px;  
        }
       // background-color:black;
    }

    &__container{
        max-width: 1200px;
        margin-left:auto;
        margin-right:auto;
        background-position: center;
        background-size: contain;
        z-index: 10;
    }

    &__name{
        color:white;
        font-weight: 600;
        font-size:22px;
        margin-bottom:15px;
        text-transform: uppercase;
    }

    &__content{
        flex-wrap: wrap;
        width:100%;
        text-align: center;
    }

    &__adres{
        margin-bottom:5px;
    }

    &__form{
        background-color:white;
        display: block;
        text-align: center;
        padding-left:50px;
        padding-right:50px;
        padding-top:90px;

    input{
        width:100%;
        text-transform: uppercase;
        border:none;
        border-bottom:1px solid grey;
        margin-bottom:20px;
        text-align: center;
        padding-bottom:10px;
        font-family: $font-family-two;
        }
    }

    label{
        font-family: $font-family-two;
    }

    &__form-title{
        font-family: $font-family;
        font-size: 25px;
        text-transform: uppercase;
        margin-bottom:40px;
        color:black;
    }

    &__submit{
        background-color:black;
        color:white;
        padding-top:10px;
        transition: 2s;

        input{
            border:1px solid red;
        }
    }

    &__submit:hover{
        filter: invert(100);
    }

    &__textarea{
        padding-top:10px;
        text-align: center;
        width:100%;
        font-family: $font-family;
        font-weight: 400;
        max-width:100%;
        overflow-x: hidden;
        border:none;
        border-bottom:1px solid grey;
        margin-bottom:50px;
 
    }

    &__form-rodo{
        font-family: $font-family;
        padding-right:50px;
        padding-left:50px;
        padding-right:15px;
        padding-bottom:15px;
        line-height: 1.3em;
        font-size:10px;
        color:grey;
        width:95%;
    }
}

#contact__button{
    border:1px solid white;
}

#contact{
    background-color:pink;
    display:block;
    margin-left:auto;
    margin-right:auto;
    max-width:300px;
}


