.experience{
    background-color: black;
    padding-top:70px;
    position: relative;
    transition: 2s;
    padding-bottom:70px;
    @include breakpoint(medium) {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    @include breakpoint(large) {
        padding-top: 60px;
        padding-bottom: 200px;
    }

    &__container{
        max-width:1200px;
        margin-left:auto;
        margin-right: auto;
    }

    &__border{
        padding-left:15px;
        padding-right:15px;
        @include breakpoint(medium) {
        padding-left:54px;
        padding-right:54px;
        }
    }

    &__box{
        display:flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__text-box{
        display: flex;
        flex-wrap: wrap;
    }

    &__img{
        position:relative;
        height:200px;
        width:100%;
        background-size: 100px;
        border:2px solid black;
        border-radius: 20px;
        background-image:url("https://cdn.pixabay.com/photo/2015/07/02/10/13/sky-828648_960_720.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-color:white;
    }

    &__img::before{
        content: "";
        background-image:url("https://cdn.pixabay.com/photo/2015/07/02/10/13/sky-828648_960_720.jpg");
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: 0.5;
        border-radius: 10px;
    }

    &__img--one{
        background-image: url(~img/code.png);
    }

    &__img--two{
        background-image: url(~img/graphic-design.png);
    }

    &__img--three{
        background-image: url(~img/user.png);
    }

    &__img--four{
        background-image: url(~img/trophy.png);
    }

    &__article{
        text-justify: inter-word;
        width:100%;
        color:white;
        position: relative;
        padding-left:70px;
        padding-top:10px;
        text-transform: uppercase;
        font-family: $font-family;    
    }

    &__article:after{
        content:'';
        background-image: url(~img/point.png);
        background-position: center;
        background-size: contain;
        filter: invert(100%);
        height:50px;
        width:50px;
        left:0px;
        top:0px;
        position: absolute;
    }

    &__article-discription{
        color:grey;
        padding-left:70px;
        font-size:14px;
        font-family: $font-family;  
        margin-bottom:30px;
    }

    &__button{
        background-color: white;
        color:black;
        border:1px solid black;
        border-radius: 10px;
        width:100%;
        padding:10px;
        text-align: center;
        text-transform: uppercase;
        font-family: $font-family;
        transition: 1s;
    }

    &__button:hover{
        background-color: black;
        color:white;
        border:1px solid white;
    }

    &__tile{
        border:1px solid white;
        width:100%;
        border-radius: 20px;
        margin-bottom:20px;
        padding:20px;
        background-color: black;
        @include breakpoint(smedium) {
        width:49%;
        }
        @include breakpoint(large) {
        width:24%;    
        }
    }

    &__tile:nth-last-of-type(1){
        margin-bottom:0px;  
        @include breakpoint(smedium) {
        margin-bottom:20px;    
        }
    }

    &__title{
        padding-top:25px;
        padding-bottom:20px;
        text-transform: uppercase;
        width:100%;
        color:white;
        display: flex;
        justify-content: center;
        font-family: $font-family;  
    }

    &__text{
        display:none;
        border:1px solid white;
        border-radius: 20px;
        padding:30px;
        padding-bottom: 10px;
    }
}

.slick-r .slick-dots{
    position: relative;
    top:-30px  !important; 
}

.slick-r .slick-slide {
    padding:10px;
    text-align:center;
    margin-right:15px;
    margin-left:15px;
}