.footer{
    background-color:white;
    z-index: 1000;
    width: 100%;


    &__container{
        max-width:1200px;
        margin-left:auto;
        margin-right:auto;
    }

    &__border{
        padding-left:55px;
        padding-right:55px;
      }

    &__box{
        display:flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        @include breakpoint(medium) {
        flex-wrap: nowrap;
        flex-direction: row;
        }
    }

    &__row{
        width:100%;
        display: flex;
        justify-content:center;
        margin-left:auto;
        margin-right:auto;
        padding-top:20px;
        @include breakpoint(medium) {
        width: 20%;
        justify-content:flex-end;
        }
    }

    &__col-two{
        padding-top: 10px;
        width: 100%;
        @include breakpoint(medium) {
        width: 20%;
        padding-top: 0px;
        }
    }

    &__col{
        padding-bottom:15px;
        width:100%;
        @include breakpoint(medium) {
        width: 60%;
        }

        ul{
            background-color:white;
            text-align: center;
            justify-content: space-between;
            padding-top:45px;
            padding-bottom:34px;
            @include breakpoint(medium) {
            display:flex;
            }
        }

        a{
            font-family: $font-family-two;
            font-size: 22px;
            color:black;
            transition: 1s;


            li{
                margin-bottom:10px;
                font-size: 25px;
                @include breakpoint(medium) {
                margin-bottom:0px;
                font-size: 20px;
                }
            }
        }



        a:hover{
            color:grey;
            font-weight: 400;
            transform: scale(1.1);
        }
    }

    &__logo{
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        border:2px solid black;
        padding:5px;
        transition: 3s;
        width: 73px;

        a{
            color:black;
            font-size:40px;
            font-family: $font-family;
            transition:2s;
        }
    }

    &__arrows{
        position:fixed;
        bottom:170px;
        left:5px;
        height:50px;
        width:50px;
        z-index: 10;
        background-image: url(~img/white.png);
        background-size: contain;
        transform: rotate(270deg);
        border:1px solid white;
        background-color: black;
        transition: 1s;
    }

    &__arrows:hover{
        filter: invert(100);
    }

    &__footer{
        text-align: center;
        position: relative;
        display: flex;
        justify-content: center;
        font-family: $font-family-two;
        padding-bottom:10px;
        padding-top:10px;
        background-image:url("https://cdn.pixabay.com/photo/2015/07/02/10/13/sky-828648_960_720.jpg");

        p{  
            margin-right:10px;
            margin-left:10px;
            z-index: 12;
            color:white;
        }
    }

    &__logo a:hover{
        color:grey;
    }

    &__footer::after{
        content: "";
        background-color:rgba(0, 0, 0, 0.5);
        height:100%;
        width:100%;
        position: absolute;
        bottom:0px;
        z-index: 10;
    }
}


