.header{
    background-image:url("https://cdn.pixabay.com/photo/2015/07/02/10/13/sky-828648_960_720.jpg");
    padding-top:15px;
    background-position: contain;
    padding-bottom:15px;
    z-index: 100;
    
    &__container{
        max-width: 1200px;
        margin-left:auto;
        margin-right:auto;
    }
    &__boarder{
       padding-left:30px;
       padding-right:30px;
    }
    &__tile{
        display:flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo{
        position: relative;
        border-radius: 20%;
        background-size: cover;
        background-repeat: no-repeat;
        border:2px solid gold;
        border-radius: 50%;
        padding:5px;
        transition: 2s;
        animation: color infinite;
        animation-duration: 4s;

        a{
            color:white;
            font-size:28px;
            font-family: $font-family;
            animation: color infinite;
            animation-duration: 4s;
        }
    }

    &__logo:hover{
        transform: scale(1.1);
    }

    &__menu{
        position:absolute; 
        line-height: 3;
        top:125px;
        bottom: 0;
        left:-770px;
        width: 100%;
        height:100%;
        padding-top: 120px;
        padding-left:40px;
        padding-right:40px;
        transition: 1s linear;
        background-repeat: no-repeat;
        overflow-x: hidden;
        background-image:url("https://cdn.pixabay.com/photo/2015/07/02/10/13/sky-828648_960_720.jpg");
        @include breakpoint(medium) {
        background-color:transparent;    
        background-image:none;
        left:0px;
        line-height: 1;    
        display: flex;
        position: relative;
        top:0px;
        justify-content: space-between;
        width:65%;
        padding-top:20px;
        padding-bottom:20px;
        }

        a{
            color:white;
            font-size:16px;
            text-transform: uppercase;
            transition: 1s;
            padding-bottom:5px;
            border-bottom: 1px solid transparent;
        }

        a:hover{
            color:gold;
            border-bottom: 1px solid orange;
        }

    }

    &__title{
        font-size:20px;
        font-family: $font-family;
    }
}


.icon{
    position: relative;
    width:45px;
    height:65px;
    cursor:pointer;
    @include breakpoint(medium) {
    display:none;
    }
  }
  
  .hamburger{
    position:absolute;
    width:45px;
    height:5px;
    top:32px;
    left:48%;
    transform:translate(-50%, -50%);
    background:gold;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    transition: .5s;
  }
  
  .hamburger:before,
  .hamburger:after
  {
    content:" ";
    position:absolute;
    width:45px;
    height:5px;
    background:gold;
    transition: .5s;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
  }
  
  .hamburger:before{
    top:-14px;
  }
  
  .hamburger:after{
    top:14px;
  }

  .icon.active .hamburger{
      background-color:black;
      box-shadow: none;
  }

  
  .icon.active .hamburger::before{
    top:0;
    transform:rotate(45deg);
}

  .icon.active .hamburger:after{
      top:0;
      transform:rotate(135deg);
  }


.header__menu.off{
   left:0px;
   overflow: hidden;
   z-index: 10;
}





























