.hero{
    padding-top:50px;
    background-size: cover;
    overflow: hidden;
    background-image:url("https://cdn.pixabay.com/photo/2015/07/02/10/13/sky-828648_960_720.jpg");
    @include breakpoint(large) {
        background-size: contain;
    }

 
    &__container{
        max-width: 1200px;
        margin-left:auto;
        margin-right:auto;
    }

    &__border{
        @include breakpoint(medium) {
        padding-left:54px;
        padding-right:54px;
        }
    }


    &__box{
        padding-bottom:100px;
        display:flex;
        justify-content: center;
        flex-wrap: wrap;
        background-color:rgba(255, 255, 255, 0.418);
        border-bottom:4px solid transparent;
        border-radius:0px;
        position: relative;
        animation: color2 infinite;
        animation-duration: 4s;
        @include breakpoint(medium) {
        border-radius: 20px 20px 0px 0px;   
        padding-top:33px;
        padding-bottom:33px;
        }
    }

    &__box-mail{
        margin-bottom:100px;
        display:flex;
        justify-content: center;
        flex-wrap: wrap;
        background-color:rgba(255, 255, 255, 1);
        border-bottom:4px solid transparent;
        border-radius:0px;
        position: relative;
        animation: color2 infinite;
        animation-duration: 4s;
        @include breakpoint(medium) {
        border-radius: 20px 20px 0px 0px;   
        padding-top:33px;
        padding-bottom:33px;
        }
    }


    &__title{
        text-align: center;
        width:100%;
        margin-bottom:30px;
    }

    &__subtitle{
        width:100%;
        text-align: center;
    }

    &__star{
        background-position: center;
        background-size: contain;
        background-image: url(~img/as.png);
        height:45px;
        width:45px;
        margin-bottom:40px;
        animation: szerokosc infinite linear;
        animation-duration: 5s;
        position: relative;
        opacity: 0.2;
    }

    &__star--two{
        background-position: center;
        background-size: contain;
        background-image: url(~img/as.png);
        height:45px;
        width:45px;
        margin-bottom:0px;
        animation: szerokosc2 infinite linear;
        animation-duration: 13s;
        position: relative;
        opacity: 0.2;
    }

    
    &__star--three{
        background-position: center;
        background-size: contain;
        background-image: url(~img/as.png);
        height:45px;
        width:45px;
        margin-bottom:0px;
        animation: szerokosc3 infinite linear;
        animation-duration: 20s;
        position: relative;
        opacity: 0.2;
    }

    &__chevron{
        width:100%;
        margin-left: auto;
        margin-right: auto;
        height:80px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-image: url(~img/arrows.png);
        @include breakpoint(medium) {
            animation: size infinite;
            animation-duration: 4s;
        }
    }

    &__icon-box{
        width: 100%;
    }

    &__bottom-box{
        display:block;
        text-align: center;
        padding-left:30px;
        padding-right:30px;
        font-size:14px;
        font-family: $font-family;
        margin-left:auto;
        margin-right:auto;
        margin-bottom:50px;
        @include breakpoint(large) {
        display:flex;
        justify-content: space-between;
        align-items: center;
        width:60%;
        }
    }

    &__bottom-box a{
        color:black;
        transition: 1s;
    }

    &__bottom-box a:hover{
        color:gold;
    }

    &__icon{
        width:30%;
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
        height:80px;
        border-bottom:2px solid gold;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-image: url(~img/animal.png);
        animation: color infinite;
        animation-duration: 4s;
        @include breakpoint(medium) {
        width:20%;   
        }
    }

    &__subtitle--info{
        font-size: 30px;
        font-family:$font-family;
        text-align: center;
        margin-left:auto;
        margin-right:auto;
        width:100%;
        margin-bottom:40px;
       
        br{
            margin-bottom:15px;
        }
    }

    &__btn{
        width:100%;
        text-align: center;
        margin-bottom:100px;
        a {
            padding:15px 50px;
            border:2px solid black;
            color:black;
            font-family:$font-family;
            text-transform: uppercase;
            transition: 1s;
        }
    }


    &__btn a:hover{
        border:2px solid white;
        background-color:black;
        color:white;
    }
}


.icon-bar-one {
    display:none;
    @include breakpoint(medium) {
    position: fixed;  
    top: 40%;
    display:block;
    z-index: 40;
    right:0px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    }
 
  }
  
  .icon-bar-one a {
    display: block;
    text-align: center;
    padding: 20px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
    @include breakpoint(medium) {
    font-size: 20px; 
    padding: 16px;
    }
  }
  
  .icon-bar-one a:hover {
    background-color: transparent;
    border-top:1px solid gold;
    border-left:1px solid gold;
    border-bottom:1px solid gold;
  }


.icon-bar {
    position:relative;
    display: flex;
    justify-content: center;
    right:0px;
    z-index: 40;
    top:10px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    @include breakpoint(medium) {
     display:none;
    }
 
  }
  
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 20px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
    @include breakpoint(medium) {
    font-size: 20px; 
    padding: 16px;
    }
  }
  
  .icon-bar a:hover {
    border-top:1px solid gold;
    border-left:1px solid gold;
    border-bottom:1px solid gold;
  }
  
  .lab {
   // background:rgba(255, 166, 0, 1);
    color: white;
    border:1px solid white;
    background-color: rgba(255, 136, 0, 0.5);
  }
  
  .phone {
   // background: rgba(33, 148, 9, 1);
    color: white;
    border:1px solid white;
    background-color: rgba(0, 128, 0, 0.5);
  }
  
  .google {
  //  background: #dd4c39;
    color: white;
    border:1px solid white;
    background-color:rgba(255, 0, 0, 0.5);
  }
  
  .linkedin {
   // background: rgb(0, 102, 255);
    color: white;
    border:1px solid white;
    background-color:rgba(22, 53, 110, 0.5);
  }
  