
.realizations{
        background-color: black;
        padding-top:80px;
        transition:2s;
        @include breakpoint(medium) {
        padding-top:100px;
        padding-bottom:100px;   
        }
        @include breakpoint(large) {
        padding-top:50px;
        padding-bottom:125px;   
        }
        

    &__container{
        max-width: 1180px;
        margin-left:auto;
        margin-right: auto;
    }

    &__border{
        padding-left:15px;
        padding-right:15px;
        @include breakpoint(medium) {
        padding-left:54px;
        padding-right:54px;
        }
    }

    &__box{
        display:flex;
        justify-content: space-around;
        flex-wrap: wrap;
        border-radius: 50px;
        padding:20px;
        padding-bottom:0px;
    }

    &__tile{
        width:30%;
       // border:1px solid white;
        margin-bottom:10px;
        opacity:0.6;
        transition:1s;
    }

    &__tile:hover{
        transform:scale(1.05);
        opacity:1;
    }

    &__image{
        height:280px;
        position: relative;
        border-radius: 10px;
        background-position: center top;
        background-repeat: no-repeat;
        @include breakpoint(medium) {
        height:250px;
        }
        @include breakpoint(medium) {
        margin-bottom:20px;
        }
        @include breakpoint(large) {
        background-size:330px;
        height:220px;
        border:3px solid grey;
        }
    }

    &__image--one{
        background-size: contain;
        background-image: url(~img/Back-6.jpg);
        @include breakpoint(medium) {
        background-size: cover;
        }
    }

    &__image--two{
        background-image: url(~img/Back-7.jpg);
        background-size: contain;
        @include breakpoint(medium) {
        background-size: cover;
        }
    }

    &__image--three{
        background-image: url(~img/Back-3.jpg);
        background-size: contain;
        @include breakpoint(medium) {
        background-size: cover;
        }
    }

    &__image--four{
        background-image: url(~img/Back-4.jpg);
        background-size: contain;
        @include breakpoint(medium) {
        background-size: cover;
        }
    }

    &__image--five{
        background-image: url(~img/Back-8.jpg);
        background-size: contain;
        @include breakpoint(medium) {
        background-size: cover;
        }
    }

    &__image--six{
        background-image: url(~img/Egerton.jpg);
        background-size: contain;
        @include breakpoint(medium) {
            background-size: cover;
            }
    }

    &__image--seven{
        background-image: url(~img/w-bud.jpg);
        background-size: contain;
        @include breakpoint(medium) {
            background-size: cover;
            }
    }

    &__title{
        text-align: left;
        color:white;
        font-family: $font-family-two;
        font-size: 25px;
        margin-bottom:20px;
    }

    &__tile-bottom{
        padding:20px;
       background-color:black;
        border-style: inset;
    }

    &__text{
       text-align: left;
       margin-bottom:20px;
    }

    &__link{
        font-size: 17px;
        transition:2s;
        color:grey;
        font-family: $font-family-two;
        cursor: pointer;
    }

    &__link:hover{
        color:orangered;
    }
}

