.skils{
    background-color: black;
    padding-top:70px;
    transition: 1s;
    padding-bottom:30px;
    @include breakpoint(medium) {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    &__container{
        max-width: 1100px;
        margin-left: auto;
        margin-right: auto;
       
        padding-bottom:0px;
    }

    &__controls{
       height:90px;
       width: 200px;
       display:flex;
       justify-content: space-between;
       flex-direction: row-reverse;
    }

    &__border{
        padding-left:15px;
        padding-right:15px;
        @include breakpoint(medium) {
        padding-left:54px;
        padding-right:54px;
        }
    }

    &__discription{
        margin-bottom:20px;
        font-size:25px;
        @include breakpoint(medium) {
        font-size:30px;    
        }
        @include breakpoint(large) {
        font-size:35px;    
        }
    }

    &__head{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width:100%;
        margin-bottom:50px;
        flex-wrap: wrap;
    }
   
    &__number{
        text-align: left;
        width: 10%;
    }

    &__article{
        text-align: left;
        width: 100%;
        margin-bottom: 40px;
        min-height: 120px;
        @include breakpoint(medium) {
        width: 60%;
        }
    }
    
    &__about{
        display: flex;
        justify-content:flex-start;
        max-width: 768px;
        position: relative;
     }
 
     &__text{
         width:90%;
     }
 
     &__btns{
         width:10%; 
         padding-top:20px;
         padding-bottom:20px;
     }
 
     &__btn{
         width:45%;
         border:1px solid rgb(0, 0, 0);
         margin-bottom:4px;
         border-radius: 2px;
         transition: 1s;
     }
 
     &__btn--one{
         background-image: url(~img/next.png);
         background-position: center;
         background-size: 45px;
         background-repeat: no-repeat;
         height:50%;
         margin-right:10px;
         background-color: white;
         filter: invert(100%);
     }

     &__btn--one:hover{
        filter: invert(0%);
     }
 
     &__btn--two{
         background-image: url(~img/next.png);
         background-position: center;
         background-size: 45px;
         background-repeat: no-repeat;
         height:50%;
         background-color: white;
         transform: rotate(180deg);
         filter: invert(100%);
     }

     &__btn--two:hover{
        filter: invert(0%);
     }

     &__slick{
        position: relative;
        padding-top:30px;
        border-radius: 10px;
        border: 1px solid grey;
     }

     &__tile{
         display: flex;
         justify-content: center;
         text-align: center;
         padding:20px;
         position: relative;
     }

     &__slick::before{
        content:"";
        background-image:url("https://cdn.pixabay.com/photo/2015/07/02/10/13/sky-828648_960_720.jpg");
        height: 100%;
        top:0;
        width:100%;
        position: absolute;
        z-index: 0;
        opacity: 0.4;
     }

    &__name{
        font-size: 18px;
        padding-top:5px;
        padding-bottom:5px;
        font-family: $font-family;
        font-weight: 400;
        color:white;
        width: 100%;
        border-top:1px solid white;
        border-bottom:1px solid white;
        text-align: center;
        text-transform: uppercase;
        background-color: black;
     }

     &__image{
        background-size: 80px;
        background-repeat: no-repeat;
        background-position: center;
        width:100px;
        height:90px;
        position: relative;
        top:15px;
     }

     &__image--one{
        background-image:url(~img/html.png);
    }

    &__image--two{
        background-image:url(~img/Css.png);
    }

    &__image--three{
        background-image:url(~img/JS.png);
    }

    &__image--four{
         background-image:url(~img/jquery.png);
    }

    &__image--five{
     background-image:url(~img/Wordpress.png);
     }

    &__image--six{
        background-image:url(~img/php.png);
    }

    &__image--seven{
        background-image:url(~img/Ajax.png);
    }

    &__image--ten{
        background-image:url(~img/unity.png);
        filter: invert(100%);
    }

    &__image--eleven{
        background-image:url(~img/sharp.png);
        filter: invert(100%);
    }

    &__image--nine{
        background-image:url(~img/shoper.png);
        background-size: 120px;
    }

    &__image--one-g{
        background-image:url(~img/photoshop.png); 
        background-size:100px;
    }

    &__image--two-g{
        background-image:url(~img/coreldraw.png); 
        filter: invert(100%);
    }

    &__image--three-g{
        background-image:url(~img/avocode.png); 
    
    }

    &__image--four-g{
        background-image:url(~img/figma.png); 
        filter: invert(10%);
    }

    &__image--five-g{
        background-image:url(~img/gimp.png); 
        filter: invert(100%);
    }

    &__image--one-c{
        background-image:url(~img/team.png);  
        filter: invert(100%);
    }

    &__image--two-c{
        background-image:url(~img/speak.png);  
        filter: invert(100%);
    }

    &__image--three-c{
        background-image:url(~img/comunicat.png);  
        filter: invert(100%);
    }

    &__image--four-c{
        background-image:url(~img/collaboration.png);  
        filter: invert(100%);
    }

    &__image--five-c{
        background-image: url(~img/rocket.png); 
        filter:invert(100%);
    }

    &__image--eight{
       display: flex;
       position: relative;
       border-radius: 10px;
       justify-content: center;
       align-items: center;
       background-color:rgba(255, 68, 255, 0.534);
       font-family: $font-family-two;
       color:white;      
       font-weight: 600;
       height:80px;
       margin-top:10px;
       font-size: 55px;
       width: 75px;

        p{
            position: relative;
            bottom:3px;
         }
     }

     &__logo{
         display:flex;
         flex-wrap: wrap;
         justify-content: center;
         align-items: center;
         background-position: center;
         width:100%; 
         height:200px;
         background-color: rgba(0, 0, 0, 0.5);
         border-radius: 10px;
         border:1px solid white;
         background-position:bottom;
     }
 }

 .slick-dots{
     position: relative;
     top:37px;
 }

 .slick-dots li button::before {
    font-size: 8px;
    color: white;
    opacity: 1;
  }

  .slick-dots li.slick-active button::before {
    color: orange;
    opacity: 1;
  }



 









  



    // &__icon{
  
    //     background-image:url("https://cdn.pixabay.com/photo/2015/07/02/10/13/sky-828648_960_720.jpg");
    //     display: flex;
    //     flex-wrap: wrap;
    //     font-size:80px;
    //     width:33%;
    //     padding-top:30px;
    //     display: flex;
    //     justify-content: center;
    //     padding-bottom:30px;
    //     border-radius: 10px;;
    // }


//<div class="skils__tile">

// <div class="skils__icon">
//     <div class="skils__item skils__item--two"></div>
//     <p class="skils__name">Css</p>
// </div>
// <div class="skils__icon">
//     <div class="skils__item skils__item--three"></div>
//     <p class="skils__name">Js</p>
// </div>
// </div>
