.social{
    background-position:bottom;
    background-color: black;
    width:100%;
    z-index: 100;
    position: absolute;

    &__container{
        max-width:1200px;
        margin-left:auto;
        margin-right:auto;
        
    }

    &__border{
        @include breakpoint(medium) {
        padding-left:54px;
        padding-right:54px;
        }
    }

    &__box{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding-top:50px;
        padding-bottom:50px;
        padding-left:20px;
        padding-right:20px;
        width: 100%;
        background-color:white;
        border-top:4px solid transparent;
        border-bottom:4px solid transparent;
        @include breakpoint(medium) {
        border-radius: 0px;
        padding-bottom:60px;
        }
        @include breakpoint(large) {
            padding-left:100px;
            padding-right:100px;  
        }
    }

    &__top-tile{
        display: flex;
        justify-content: center;
        align-items: center;
        width:100%;
        margin-bottom:15px;
    }

    &__title{
        padding-top:10px;
    }


    &__number{
        margin-bottom:0px; 
        @include breakpoint(medium) {
        margin-bottom:30px; 
        }
    }

}


