html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
  }

body{
    overflow-x: hidden;
    background-color:black;
}

.a-title{
    font-family: $font-family;
    text-transform: uppercase;
    font-size:35px;
    color:black;
    @include breakpoint(medium) {
        font-size:50px;
    }
    @include breakpoint(large) {
        font-size:60px;
    }
}

.a-discription{
    font-size:35px;  
    font-family: $font-family-two;
}

.a-subtitle{
    font-weight: 600;
    font-family: $font-family;
    color:black;
    font-size:24px;
    text-transform: uppercase;
    @include breakpoint(medium) {
        font-size:35px;
        }
    @include breakpoint(large) {
    font-size:45px;
    }
}

.a-article{
    color:black;
    font-family: $font-family-two;
    line-height:1.5;
    font-size:18px;
    text-align: center;
}

.a-data{
    color:white;
    font-size: 20px;
    font-family: $font-family-two;
}

.a-article{
    color:white;
}

.a-number--white{
    color:white; 
}

.a-subtitle--white{
    color:white;
}

.a-subtitle--gold{
    color:gold;
}

.a-number{
    width:100%;
    text-align: center;
    font-family: $font-family;
    font-weight: 800;
}

.a-date{
    font-family: $font-family-two;
    text-transform: uppercase;
    color:black;
    font-size:25px;
    font-weight: 600;
    margin-bottom:15px;
}

.a-paddle{
    height:3px;
    width:40px;
    margin-right:10px;
    margin-left:10px;
    background-color:white;
    border-radius: 10px 10px;
    @include breakpoint(medium) {
        margin-right:30px;
        margin-left:30px; 
        width:70px;  
    }
}

.a-paddle--black{
    background-color:black;
}

  .animatable {
    animation: none;  
    @include breakpoint(large) {
    /* initially hide animatable objects */
    visibility: hidden;
    
    /* initially pause animatable objects their animations */
    -webkit-animation-play-state: paused;   
    -moz-animation-play-state: paused;     
    -ms-animation-play-state: paused;
    -o-animation-play-state: paused;   
    animation-play-state: paused; 
    }
  }
  
  /* show objects being animated */
  .animate-in {
    animation: none;  
    @include breakpoint(large) {
    visibility: visible;
    
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    
    -webkit-animation-duration: 0.6s;
    -moz-animation-duration:  0.6s;
    -ms-animation-duration:  0.6s;
    -o-animation-duration:  0.6s;
    animation-duration:  0.6s;
  
    -webkit-animation-play-state: running;
    -moz-animation-play-state: running;
    -ms-animation-play-state: running;
    -o-animation-play-state: running;
    animation-play-state: running;
  }}
  
  .animate-out {
    animation: none;  
    @include breakpoint(large) {
    visibility: visible;
    
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    
    -webkit-animation-duration:  0.6s;
    -moz-animation-duration:  0.6s;
    -ms-animation-duration:  0.6s;
    -o-animation-duration:  0.6s;
    animation-duration:  0.6s;
  
    -webkit-animation-play-state: running;
    -moz-animation-play-state: running;
    -ms-animation-play-state: running;
    -o-animation-play-state: running;
    animation-play-state: running;
  
    -webkit-animation-direction: reverse;
    -moz-animation-direction: reverse;
    -ms-animation-direction: reverse;
    -o-animation-direction: reverse;
    animation-direction: reverse;
  }
}   
  .animate-out:after {
    content: '';
    letter-spacing: inherit;
  }

  @keyframes fadeInUp {
      0% {
          opacity: 0;
          transform: translateY(20px);
      }
  
      100% {
          opacity: 1;
          transform: translateY(0);
      }
  }

  
  .animate-in.fadeInUp, .animate-out.fadeInUp {
      -webkit-animation-name: fadeInUp;
      -moz-animation-name: fadeInUp;
      -o-animation-name: fadeInUp;
      animation-name: fadeInUp;
  }


#preloader{
    position: absolute;
    width:100%;
    height:100%;
    background-color: black;
    z-index: 1000;
}

.wrapper{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-image:url("https://cdn.pixabay.com/photo/2015/07/02/10/13/sky-828648_960_720.jpg");
    animation-name: bodyLight;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    transition-timing-function: linear;
    font-family: Roboto;
  }
  .triangle{
    margin: auto;
    border-style: solid;
    border-width: 0 125px 216.5px 125px;
    border-color: transparent transparent  #F2F2F0 transparent;
    animation-name: triangleMove;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    transition-timing-function: linear;
    &:after{
      position: absolute;
      top: 11.5px;
      left: -114px;
      display: block;
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 115px 199.2px 115px;
      border-color: transparent transparent white transparent;
    }
    &-wrap{
      margin: auto;
      position: relative;
      width: 250px;
      height: 217px;
    }
    &--main{
      position: relative;
      z-index: 10;
    }
    &--red{
      left: 0;
      top: 0;
      position: absolute !important;
      border-color: transparent transparent black transparent;
      animation-delay: .5s;
    }
    &--blue{
      left: 0;
      top: 0;
      position: absolute !important;
      border-color: transparent transparent black transparent;
      animation-delay: .3s;
    }
    &__text{
      color: #fff;
      position: absolute;
      top: 50%;
      left: 0;
      text-align: center;
      z-index: 9999;
      text-transform: uppercase;
      font-size: 30px;
      font-weight: 700;
      padding: 10px;
      background-color: #090909;
      letter-spacing: 20px;
      animation-name: textAnim;
      animation-duration: 5s;
      animation-iteration-count: infinite;
      transition-timing-function: linear;
    }
  }
  @keyframes bodyLight{
    30%{
      filter: invert(14%);
    }
    40%{
      filter: invert(10%);
    }
    50%{
      filter: invert(7%);
    }
    60%{
      filter: invert(10%);
    }
    70%{
      filter: invert(12%);
    }
    80%{
      filter: invert(9%);
    }
    90%{
      filter: invert(14%);
    }
    100%{
      filter: invert(11%);
    }
  }
  @keyframes triangleMove{
    10%{
      transform: translateX(10px);
      filter: blur(3px);
    }
    20%{
      transform: translateX(4px);
      filter: blur(0);
    }
    30%{
      transform: translateX(-5px) skew(0deg);
      filter: blur(3px);
    }
    40%{
      transform: translateX(7px);
      filter: blur(0);
    }
    50%{
      transform: translateX(3px);
    }
    60%{
      transform: translateX(2px);
      filter: blur(5px);
    }
    70%{
      transform: translateX(-2px);
      filter: blur(0);
    }
    80%{
      transform: translateX(3px);
      filter: blur(2px);
    }
    90%{
      transform: translateX(-3px);
    }
    100%{
      transform: translateX(3px);
    }
  }
  @keyframes textAnim{
    10%{
      transform: scale(1.2) skew(180deg);
    }
    11%{
      transform: scale(1) skew(180deg);
    }
    
    70%{
      transform: scale(1) skew(-300deg);
      filter: blur(1px);
    }
    
    99%{
      transform: scale(1) skew(200deg);
    }
    
    100%{
      transform: scale(1) skew(-200deg);
  
    }
    
  }

  @-webkit-keyframes typing{
	from { width: 100%;}
	to { width: 0;}
}
@-webkit-keyframes cursor{
	50% { border-color: white;}
}
@keyframes typing{
	from{ width: 100%;}
	to{ width: 0;}
}
@keyframes cursor{
	50% { border-color: white;}
}

